  
<div class="camara" *ngIf="print">

  <div class="header">

    <div class="generalInfo">

      <div class="left">

        <!-- SELECT OPTION -->
        <select class="dptSelect" (change)="selectCamDpto($event)">
          <option [value]="deptoValue">SELECCIONE DEPARTAMENTO</option>
          <option *ngFor="let item of partidosCamaraData; let i = index" [value]="i" >
            {{item.departamento}} 
          </option>
        </select>

        <!-- TITLE DPTO -->
        <h3 class="dptoTitle">{{lPartidosCamaraByDept.departamento}}</h3>

      </div>

      <div class="right" [ngSwitch]="seccionCam">

        <div class="info-block" *ngSwitchCase="'partCamSecc'">

          <div class="block block-a">
            <div class="top">
              <div class="release">
                <b class="releaseText"> Boletín {{lPartidosCamaraByDept.numero}}</b>
                <span class="releaseTime">{{lPartidosCamaraByDept.hora}}</span>
              </div>
              <div class="info">
                  <span class="infoText">Informado</span>
                  <b class="infoPercent"> {{lPartidosCamaraByDept.porcentaje_mesas_informadas}}%</b>
                </div>
            </div>

            <div class="bottom">
              <span class="curTitle">Curules en disputa</span> <b class="curNumber">{{lPartidosCamaraByDept.departamento | curules}}</b>
            </div>

          </div>

          <div class="block block-b">

            <div class="totalBlock">
              <span class="title"> Total de <br/> mesas informadas </span> 
              <b class="resault"> {{lPartidosCamaraByDept.mesas_informadas}}</b> 
            </div>
            
            <div class="totalBlock">
                <span class="title"> Total de <br/> mesas instaladas </span> 
                <b class="resault"> {{lPartidosCamaraByDept.mesas_instaladas}} </b> 
            </div>
          </div>

        </div>

        <div class="info-block" *ngSwitchCase="'candCamSecc'">
          <div class="block block-a">
            <div class="top">
              <div class="release">
                <b class="releaseText"> Boletín {{lCandidatosCamaraByDept.numero}}</b>
                <span class="releaseTime">{{lCandidatosCamaraByDept.hora}}</span>
              </div>
              <div class="info">
                  <span class="infoText">Informado</span>
                  <b class="infoPercent"> {{lCandidatosCamaraByDept.porcentaje_mesas_informadas}}%</b>
                </div>
            </div>

            <div class="bottom">
              <span class="curTitle">Curules en disputa</span> <b class="curNumber">{{lCandidatosCamaraByDept.departamento | curules}}</b>
            </div>

          </div>

          <div class="block block-b">
            <div class="totalBlock">
              <span class="title"> Total de <br/> mesas informadas </span> 
              <b class="resault"> {{lCandidatosCamaraByDept.mesas_informadas}} </b> 
            </div>
            <div class="totalBlock">
                <span class="title"> Total de <br/> mesas instaladas </span> 
                <b class="resault"> {{lCandidatosCamaraByDept.mesas_instaladas}} </b> 
            </div>
          </div>
        </div>

          
      </div>

    </div>

    <!-- TABS -->

    <ul class="tabs">
      <li (click)="seccionCam = 'candCamSecc'" [ngClass]="{'active' : seccionCam == 'candCamSecc' }">CANDIDATOS</li>
      <li (click)="seccionCam = 'partCamSecc'" [ngClass]="{'active' : seccionCam == 'partCamSecc' }">PARTIDOS</li>
    </ul>
  
  </div>

  <!-- TAB PANE CONTAINER -->

  <div class="tab-sections" [ngSwitch]="seccionCam">

    <!-- CANDIDATOS -->

    <div class="candidatos-wrap tab-section" *ngSwitchCase="'candCamSecc'">

      <!-- DEPARTAMENTAL -->

      <div class="group" *ngIf="lCandidatosCamaraByDept.data[0].info.length">

        <div class="group-name">{{lCandidatosCamaraByDept.data[0].corp}}</div>

        <div class="item-wrap" *ngFor="let candidato of lCandidatosCamaraByDept.data[0].info | slice:0:addCandDepItems; let i = index" [ngClass]="{'widthAvatar': i < 9}">
            <div class="imgAvatar" *ngIf="i < 9">
              <img src="assets/img/candidatos/{{candidato.partidosNombrePartido | partido}}" />
            </div>
            <div class="item">
              <p class="nombre"><b>{{i + 1}}. </b>{{candidato.candidatosNombre}}</p>
              <p class="pNombre"> {{candidato.partidosNombrePartido}}</p>
              <p class="votos">Votos: <b>{{candidato.DetalleCandidatoVotos}}</b></p>
              <div class="percentage">
                <b class="pct">{{candidato.DetalleCandidatoPorcentaje}} %</b>
                <label class="progressbar">
                    <span [style.width.%]="candidato.DetalleCandidatoPorcentaje | toNumber "></span>
                  </label>
              </div>
            </div>
        </div>

        <div class="filter" *ngIf="lCandidatosCamaraByDept.data[0].info.length != 9 && lCandidatosCamaraByDept.data[0].info.length > 9">
            <button class="filter-btn" (click)="addMoreCandDepItems()" [disabled]="addCandDepItems > lCandidatosCamaraByDept.data[0].info.length">{{addCandDepItems > lCandidatosCamaraByDept.data[0].info.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
        </div>

      </div>

      <!-- INDIGENAS -->

      <div class="group" *ngIf="lCandidatosCamaraByDept.data[1].info.length">

        <div class="group-name">{{lCandidatosCamaraByDept.data[1].corp}}</div>

        <div class="item-wrap" *ngFor="let candidato of lCandidatosCamaraByDept.data[1].info | slice:0:addCandIndItems; let i = index">
            <div class="item">
              <p class="nombre"><b>{{i + 1}}. </b>{{candidato.candidatosNombre}}</p>
              <p class="pNombre"> {{candidato.partidosNombrePartido}}</p>
              <p class="votos">Votos: <b>{{candidato.DetalleCandidatoVotos}}</b></p>
              <div class="percentage">
                <b class="pct">{{candidato.DetalleCandidatoPorcentaje}} %</b>
                <label class="progressbar">
                    <span [style.width.%]="candidato.DetalleCandidatoPorcentaje | toNumber "></span>
                  </label>
              </div>
            </div>
        </div>

        <div class="filter" *ngIf="lCandidatosCamaraByDept.data[1].info.length != 9 && lCandidatosCamaraByDept.data[1].info.length > 9">
            <button class="filter-btn" (click)="addMoreCandIndItems()" [disabled]="addCandDepItems > lCandidatosCamaraByDept.data[1].info.length">{{addCandIndItems > lCandidatosCamaraByDept.data[1].info.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
        </div>

      </div>

      <!-- AFRO-DECENDIENTES -->

      <div class="group" *ngIf="lCandidatosCamaraByDept.data[2].info.length">

        <div class="group-name">{{lCandidatosCamaraByDept.data[2].corp}}</div>

        <div class="item-wrap" *ngFor="let candidato of lCandidatosCamaraByDept.data[2].info | slice:0:addCandAfrItems; let i = index">
            <div class="item">
              <p class="nombre"><b>{{i + 1}}. </b>{{candidato.candidatosNombre}}</p>
              <p class="pNombre"> {{candidato.partidosNombrePartido}}</p>
              <p class="votos">Votos: <b>{{candidato.DetalleCandidatoVotos}}</b></p>
              <div class="percentage">
                <b class="pct">{{candidato.DetalleCandidatoPorcentaje}} %</b>
                <label class="progressbar">
                    <span [style.width.%]="candidato.DetalleCandidatoPorcentaje | toNumber "></span>
                  </label>
              </div>
            </div>
        </div>

        <div class="filter" *ngIf="lCandidatosCamaraByDept.data[2].info.length != 9 && lCandidatosCamaraByDept.data[2].info.length > 9">
            <button class="filter-btn" (click)="addMoreCandAfrItems()" [disabled]="addCandDepItems > lCandidatosCamaraByDept.data[2].info.length">{{addCandAfrItems > lCandidatosCamaraByDept.data[2].info.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
        </div>

      </div>

    </div>

    <!-- PARTIDOS -->

    <div class="tab-section" *ngSwitchCase="'partCamSecc'">

      <!-- DEPARTAMENTAL -->

      <div class="group" *ngIf="lPartidosCamaraByDept.data[0].info.length">

        <div class="group-name">{{lPartidosCamaraByDept.data[0].corp}}</div>

        <div class="item-wrap" *ngFor="let partido of lPartidosCamaraByDept.data[0].info | slice:0:addPartDepItems; let i = index" [ngClass]="{'widthAvatar': i < 9}">
            <div class="imgAvatar" *ngIf="i < 9">
              <img src="assets/img/partidos/{{partido.partidosNombrePartido | partido}}" />
            </div>
            <div class="item">
              <p class="nombre"><b>{{i + 1}}. </b>{{partido.partidosNombrePartido}}</p>
              <p class="votos">Votos: <b>{{partido.DetallePartidoVotos}}</b></p>
              <div class="percentage">
                <b class="pct">{{partido.DetallePartidoPorcentaje}} %</b>
                <label class="progressbar">
                    <span [style.width.%]="partido.DetallePartidoPorcentaje | toNumber"></span>
                  </label>
              </div>
            </div>
        </div>

        <div class="filter" *ngIf="lPartidosCamaraByDept.data[0].info.length != 9 && lPartidosCamaraByDept.data[0].info.length > 9">
            <button class="filter-btn" (click)="addMorePartDepItems()" [disabled]="addPartDepItems > lPartidosCamaraByDept.data[0].info.length">{{addPartDepItems > lPartidosCamaraByDept.data[0].info.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
        </div>

      </div>

      <!-- INDIGENAS -->

      <div class="group" *ngIf="lPartidosCamaraByDept.data[1].info.length">

        <div class="group-name">{{lPartidosCamaraByDept.data[1].corp}}</div>

        <div class="item-wrap" *ngFor="let partido of lPartidosCamaraByDept.data[1].info | slice:0:addPartIndItems; let i = index">
            <div class="item">
              <p class="nombre"><b>{{i + 1}}. </b>{{partido.partidosNombrePartido}}</p>
              <p class="votos">Votos: <b>{{partido.DetallePartidoVotos}}</b></p>
              <div class="percentage">
                <b class="pct">{{partido.DetallePartidoPorcentaje}} %</b>
                <label class="progressbar">
                    <span [style.width.%]="partido.DetallePartidoPorcentaje | toNumber"></span>
                  </label>
              </div>
            </div>
        </div>

        <div class="filter" *ngIf="lPartidosCamaraByDept.data[1].info.length != 6 && lPartidosCamaraByDept.data[1].info.length > 6">
            <button class="filter-btn" (click)="addMorePartIndItems()" [disabled]="addPartIndItems > lPartidosCamaraByDept.data[1].info.length">{{addPartIndItems > lPartidosCamaraByDept.data[1].info.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
        </div>

      </div>

      <!-- AFRO-DECENDIENTES -->

      <div class="group" *ngIf="lPartidosCamaraByDept.data[2].info.length">

        <div class="group-name">{{lPartidosCamaraByDept.data[2].corp}}</div>

        <div class="item-wrap" *ngFor="let partido of lPartidosCamaraByDept.data[2].info | slice:0:addPartAfrItems; let i = index" >
            <div class="item">
              <p class="nombre"><b>{{i + 1}}. </b>{{partido.partidosNombrePartido}}</p>
              <p class="votos">Votos: <b>{{partido.DetallePartidoVotos}}</b></p>
              <div class="percentage">
                <b class="pct">{{partido.DetallePartidoPorcentaje}} %</b>
                <label class="progressbar">
                    <span [style.width.%]="partido.DetallePartidoPorcentaje | toNumber"></span>
                  </label>
              </div>
            </div>
        </div>

        <div class="filter" *ngIf="lPartidosCamaraByDept.data[2].info.length != 6 && lPartidosCamaraByDept.data[2].info.length > 6">
            <button class="filter-btn" (click)="addMorePartAfrItems()" [disabled]="addPartAfrItems > lPartidosCamaraByDept.data[2].info.length">{{addPartAfrItems > lPartidosCamaraByDept.data[2].info.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
        </div>

      </div>

    </div>

  </div>

</div>