
<div class="container">

  <ul class="supTabs">
    <li (click)="seccionA = 'senSecc'" [ngClass]="{'active' : seccionA == 'senSecc' }"><span>SENADO</span></li>
    <li (click)="seccionA = 'camSecc'" [ngClass]="{'active' : seccionA == 'camSecc' }"><span>CÁMARA</span></li>
    <li (click)="seccionA = 'conSecc'" [ngClass]="{'active' : seccionA == 'conSecc' }"><span>CONSULTAS</span></li>
  </ul>
  
  <div class="supTabContent" [ngSwitch]="seccionA">

      <div class="supTabPane" *ngSwitchCase="'senSecc'">
        <app-senado [dataSenado]="sendDataSenado"></app-senado>
      </div>
      
      <div class="supTabPane" *ngSwitchCase="'camSecc'">
        <app-camara [dataCamara]="sendDataCamara"></app-camara>
      </div>

      <div class="supTabPane" *ngSwitchCase="'conSecc'">
        <app-consultas [dataCIS]="sendDataCIS" [dataGCC]="sendDataGCC"></app-consultas>
      </div>
      
  </div>

  <div class="scrollTopBTN" (click)="toTop(500)" [ngClass]="{'active' : scrollToTop}"></div>

  
</div>






