  
<div class="consulta" *ngIf="print">

  <div class="header">

    <div class="generalInfo">

      <div class="left">

        <!-- TITLE DPTO -->
        <h3 class="dptoTitle">CONSOLIDADO NACIONAL</h3>

      </div>

      <div class="right">

        <div class="info-block">

          <div class="block block-a">
            <div class="top">
              <div class="release">
                <b class="releaseText"> Boletín {{dataTotalInfo.numero}}</b>
                <span class="releaseTime">{{dataTotalInfo.hora}}</span>
              </div>
              <div class="info">
                  <span class="infoText">Informado</span>
                  <b class="infoPercent"> {{dataTotalInfo.porcentaje_mesas_informadas}}%</b>
                </div>
            </div>
          </div>

        </div>
          
      </div>

    </div>

  </div>

  <!-- TAB PANE CONTAINER -->

  <div class="tab-sections" >

    <!-- CONSULTAS -->

    <div class="candidatos-wrap tab-section">

      <!-- CONSULTA INCLUSIÓN POR LA PAZ -->

      <div class="group">

        <div class="group-name"><span>CONSULTA INCLUSIÓN</span> SOCIAL POR LA PAZ</div>

        <div class="item-wrap widthAvatar" *ngFor="let candidato of lCandCIS; let i = index">
            <div class="imgAvatar">
              <img src="assets/img/candidatos_consulta/{{candidato.nombre | candconsulta}}" />
            </div>
            <div class="item">
              <p class="nombre"><b>{{i+1}}. </b>{{candidato.nombre}}</p>
              <p class="pNombre"> {{candidato.nombre_partido}}</p>
              <p class="votos">Votos: <b>{{candidato.votos}}</b></p>
              <div class="percentage">
                <b class="pct">{{candidato.porcentaje}} %</b>
                <label class="progressbar">
                    <span [style.width.%]="candidato.porcentaje | toNumber"></span>
                  </label>
              </div>
            </div>
        </div>

      </div>

      <!-- GRAN CONSULTA POR COLOMBIA -->

      <div class="group">

        <div class="group-name"><span>GRAN CONSULTA</span> POR COLOMBIA</div>

        <div class="item-wrap widthAvatar" *ngFor="let candidato of lCandGCC; let i = index">
            <div class="imgAvatar">
              <img src="assets/img/candidatos_consulta/{{candidato.nombre | candconsulta}}" />
            </div>
            <div class="item">
              <p class="nombre"><b>{{i+1}}. </b>{{candidato.nombre}}</p>
              <p class="pNombre"> {{candidato.nombre_partido}}</p>
              <p class="votos">Votos: <b>{{candidato.votos}}</b></p>
              <div class="percentage">
                <b class="pct">{{candidato.porcentaje}} %</b>
                <label class="progressbar">
                    <span [style.width.%]="candidato.porcentaje | toNumber"></span>
                  </label>
              </div>
            </div>
        </div>

      </div>

    </div>


  </div>

</div>