  
<div class="senado" *ngIf="print"> 

  <div class="header">

    <div class="generalInfo">

      <div class="left">

        <!-- TITLE DPTO -->
        <h3 class="dptoTitle">CONSOLIDADO NACIONAL</h3>

      </div>

      <div class="right" >

        <div class="info-block" >

          <div class="block block-a">
            <div class="top">
              <div class="release">
                <b class="releaseText"> Boletín {{dataSenadoFromPrincipal.numero}}</b>
                <span class="releaseTime">{{dataSenadoFromPrincipal.hora}}</span>
              </div>
              <div class="info">
                  <span class="infoText">Informado</span>
                  <b class="infoPercent"> {{dataSenadoFromPrincipal.porcentaje_mesas_informadas}}%</b>
                </div>
            </div>

          </div>

          <div class="block block-b">

            <div class="totalBlock">
              <span class="title"> Total de <br/> mesas informadas </span> 
              <b class="resault"> {{dataSenadoFromPrincipal.mesas_informadas}} </b> 
            </div>
            
            <div class="totalBlock">
                <span class="title"> Total de <br/> mesas instaladas </span> 
                <b class="resault"> {{dataSenadoFromPrincipal.mesas_instaladas}} </b> 
            </div>
          </div>

        </div>
         
      </div>

    </div>

    <!-- TABS -->

    <ul class="tabs">
      <li (click)="seccionSen = 'candSenSecc'" [ngClass]="{'active' : seccionSen == 'candSenSecc' }">CANDIDATOS</li>
      <li (click)="seccionSen = 'partSenSecc'" [ngClass]="{'active' : seccionSen == 'partSenSecc' }">PARTIDOS</li>
    </ul>
  
  </div>

  <!-- TAB PANE CONTAINER -->

  <div class="tab-sections" [ngSwitch]="seccionSen">

    <!-- CANDIDATOS -->

    <div class="candidatos-wrap tab-section" *ngSwitchCase="'candSenSecc'">

        <!-- GRUPO NACIONAL -->
 
         <div class="group">
 
             <div class="group-name">{{dataSenNacional.nombre}}</div>
   
             <div class="item-wrap" *ngFor="let candidato of dataSenNacional.candidatos | slice:0:addCanNacItems; let i = index" [ngClass]="{'widthAvatar': i < 9}" >
                 
                 <div class="imgAvatar" *ngIf="i < 9">
                   <img src="assets/img/candidatos/{{candidato.nombre_partido | partido}}" />
                 </div>
                 <div class="item">
                   <p class="nombre"><b>{{i + 1}}. </b>{{candidato.nombre}}</p>
                   <p class="pNombre"> {{candidato.nombre_partido}}</p>
                   <p class="votos">Votos: <b>{{candidato.votos}}</b></p>
                   <div class="percentage">
                     <b class="pct">{{candidato.porcentaje | toNumber}}%</b>
                     <label class="progressbar">
                         <span [style.width.%]="candidato.porcentaje | toNumber"></span>
                       </label>
                   </div>
                 </div>
   
             </div>
 
             <div class="filter" *ngIf="dataSenNacional.candidatos.length > 9">
                 <button class="filter-btn" (click)="addMoreCanNacItems()" [disabled]="addCanNacItems > dataSenNacional.candidatos.length">{{addCanNacItems > dataSenNacional.candidatos.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
             </div>
 
         </div>
 
         <!-- GRUPO INDIGENAS -->
   
         <div class="group">
   
             <div class="group-name">{{dataSenIndigenas.nombre}}</div>
   
             <div class="item-wrap" *ngFor="let candidato of dataSenIndigenas.candidatos | slice:0:addCanIndItems; let i = index" >
                 
                 <div class="item">
                   <p class="nombre"><b>{{i + 1}}. </b>{{candidato.nombre}}</p>
                   <p class="pNombre"> {{candidato.nombre_partido}}</p>
                   <p class="votos">Votos: <b>{{candidato.votos}}</b></p>
                   <div class="percentage">
                     <b class="pct">{{candidato.porcentaje | toNumber}}%</b>
                     <label class="progressbar">
                         <span [style.width.%]="candidato.porcentaje | toNumber"></span>
                       </label>
                   </div>
                 </div>
   
             </div>
 
             <div class="filter" *ngIf="dataSenIndigenas.candidatos.length > 6">
                 <button class="filter-btn" (click)="addMoreCanIndItems()" [disabled]="addCanIndItems > dataSenIndigenas.candidatos.length">{{addCanIndItems > dataSenIndigenas.candidatos.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
             </div>
   
         </div>
 
    </div>

    <!-- PARTIDOS -->

    <div class="tab-section" *ngSwitchCase="'partSenSecc'">

      <!-- GRUPO NACIONAL -->

      <div class="group">

          <div class="group-name">{{dataSenNacional.nombre}}</div>

          <div class="item-wrap" *ngFor="let partido of dataSenNacional.partido | slice:0:addPartNacItems; let i = index" [ngClass]="{'widthAvatar': i < 9}">
              
              <div class="imgAvatar" *ngIf="i < 9">
                <img src="assets/img/partidos/{{partido.nombre | partido}}" />
              </div>
              <div class="item">
                <p class="nombre"><b>{{i + 1}}. </b>{{partido.nombre}}</p>
                <p class="votos">Votos: <b>{{partido.votos}}</b></p>
                <div class="percentage">
                  <b class="pct">{{partido.porcentaje | toNumber}}%</b>
                  <label class="progressbar">
                      <span [style.width.%]="partido.porcentaje | toNumber"></span>
                    </label>
                </div>
              </div>

          </div>

          <div class="filter" *ngIf="dataSenNacional.partido.length != 9 && dataSenNacional.partido.length > 9">
              <button class="filter-btn" (click)="addMorePartNacItems()" [disabled]="addPartNacItems > dataSenNacional.partido.length">{{addPartNacItems > dataSenNacional.partido.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
          </div>

      </div>

       <!-- GRUPO INDIGENAS -->

      <div class="group">

          <div class="group-name">{{dataSenIndigenas.nombre}}</div>

          <div class="item-wrap" *ngFor="let partido of dataSenIndigenas.partido | slice:0:addPartIndItems ; let i = index" >
              
              <div class="item">
                <p class="nombre"><b>{{i + 1}}. </b>{{partido.nombre}}</p>
                <p class="votos">Votos: <b>{{partido.votos}}</b></p>
                <div class="percentage">
                  <b class="pct">{{partido.porcentaje | toNumber}}%</b>
                  <label class="progressbar">
                      <span [style.width.%]="partido.porcentaje | toNumber"></span>
                    </label>
                </div>
              </div>

          </div>

          <div class="filter" *ngIf="dataSenIndigenas.partido.length != 6 && dataSenIndigenas.partido.length > 6">
              <button class="filter-btn" (click)="addMorePartIndItems()" [disabled]="addPartIndItems > dataSenIndigenas.partido.length">{{addPartIndItems > dataSenIndigenas.partido.length ? 'NO HAY MÁS RESULTADOS' : 'VER MÁS RESULTADOS'}}</button>
          </div>

      </div>

    </div>

  </div>

</div>